:root {
    /* Colors */
    --color-text: #ffffff;
    --color-primary: #7f5af0;
    --color-secondary: #5c2a90;
    --color-dark: #1f0931;
    --color-bg: #1f0931;
    --color-accent: #d8b4fe;

    /* Fonts */
    --font-roboto: "Roboto";
}